{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  Acerca de
{% endblock %}
{% block background %}{% static 'core/img/madrid.jpg' %}{% endblock %}
{% block headers %}
  <h1>Acerca de</h1>
  <span class="subheading">Biografía</span>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid avatar" src="{% static 'core/img/avatarlumi2.jpg' %}" alt="" />
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading">Lucía Mielgo</h2>
      <p>Nací en Madrid, una ciudad que siempre ha sido mi hogar y donde he vivido toda mi vida. Tengo 22 años y, aunque inicialmente estudié dos años de arquitectura, decidí seguir mi verdadera pasión y ahora estoy en mi tercer año de Ingeniería Matemática. Las matemáticas y la programación me fascinan, no solo por los retos que presentan, sino también por las infinitas posibilidades de creación y resolución de problemas que ofrecen.</p>
      <p>Soy una persona creativa por naturaleza, y siempre siento la necesidad de estar inmersa en algún proyecto personal que me inspire y me permita aprender algo nuevo. Disfruto llenando mi tiempo libre con una amplia variedad de actividades, desde pintar y leer hasta jugar a videojuegos, coser, tocar el piano y cocinar. Me encanta explorar nuevas habilidades y encontrar formas de expresar mi creatividad, ya sea a través de un lienzo, una receta o un código. Para mí, cada día es una oportunidad de aprendizaje y crecimiento, y siempre busco nuevas maneras de desafiarme a mí misma.</p>
    </div>
  </div>
{% endblock %}
