{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  Contacto
{% endblock %}
{% block background %}{% static 'core/img/red.jpg' %}{% endblock %}
{% block headers %}
<h1>Contacto</h1>
<span class="subheading">¡Escríbeme!</span>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
      <p>¿Tienes alguna consulta, idea o proyecto en mente? ¡No dudes en escribirme! Siempre estoy dispuesta a escuchar nuevas propuestas y explorar oportunidades juntos.</p>
      <p><b>Email:</b> <a href="mailto:lmiel@myuax.com">lmiel@myuax.com</a></p>
      <p><b>LinkedIn:</b>Lucía Mielgo Torres</p>
  </div>
</div>

{% endblock %}
