{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  Contacto
{% endblock %}
{% block background %}{% static 'core/img/red.jpg' %}{% endblock %}
{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Saepe nostrum ullam eveniet pariatur voluptates odit, fuga
  atque ea nobis sit soluta odio, adipisci quas excepturi maxime
  quae totam ducimus consectetur?</p>
  <br>
  <p><b>Teléfono:</b> +09 876 543 210</p>
  <p><b>Honorarios:</b> 60€/h (precio base)</p>
  <p>Aquí os dejo mi email y mis redes sociales:</p>
  <ul>
    <li>
      <a href="mailto:hola@hektorprofe.net">Email</a>
    </li>
    <li>
      <a href="https://github.com/hcosta">Github</a>
    </li>
    <li>
      <a href="https://youtube.com">Youtube</a>
    </li>
  </ul>
  </div>

</div>

{% endblock %}
