{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  Portada
{% endblock %}
{% block background %}{% static 'core/img/medusas1.jpg' %}{% endblock %}
{% block headers %}
  <h1>Lucía Mielgo</h1>
  <span class="subheading">Estudiante de Ingeniería Matemática</span>
{% endblock %}
{% block content %}
  <div class="container text-center">
    <p>¡Hola! Soy Lucía Mielgo, estudiante de Ingeniería Matemática en la Universidad Alfonso X el Sabio. Esta es mi página web donde podreis ver algunos de mis proyectos y conocerme un poco más.</p>
    <p>¡Bienvenidos!</p>
  </div>
{% endblock %}
